global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - rules/cc4c-alerts.yml

scrape_configs:
  - job_name: cc4c-backend
    metrics_path: /actuator/prometheus
    basic_auth:
      username: '__CC4C_MANAGEMENT_USERNAME__'
      password: '__CC4C_MANAGEMENT_PASSWORD__'
    static_configs:
      - targets: ['127.0.0.1:4081']
        labels:
          application: cc4c
          environment: '__CC4C_ENVIRONMENT__'

  - job_name: cc4c-rabbitmq
    metrics_path: /metrics/per-object
    basic_auth:
      username: '__CC4C_RABBITMQ_MONITOR_USERNAME__'
      password: '__CC4C_RABBITMQ_MONITOR_PASSWORD__'
    static_configs:
      - targets: ['127.0.0.1:15692']
        labels:
          application: cc4c
          environment: '__CC4C_ENVIRONMENT__'
    metric_relabel_configs:
      - source_labels: [vhost]
        regex: '__CC4C_RABBITMQ_VHOST_REGEX__'
        action: keep
      - source_labels: [queue]
        regex: '__CC4C_RABBITMQ_NAMESPACE_REGEX__.*'
        action: keep
